<a href="https://colab.research.google.com/github/wendyxie6/python-learning-journal/blob/main/Combining_DataFrames_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# **Combining DataFrames in Pandas (Joins & Concatenation)**

In [2]:
import pandas as pd

customers = pd.DataFrame({
    'customer_id': [101, 102, 103, 104, 105],
    'name': ['Alice', 'Bob', 'Carlos', 'Diana', 'Evan'],
    'city': ['New York', 'Los Angeles', 'Chicago', 'New York', 'Seattle'],
    'loyalty_tier': ['Gold', 'Silver', 'Gold', 'Bronze', 'Silver']
})

orders = pd.DataFrame({
    'order_id': [1001, 1002, 1003, 1004, 1005, 1006],
    'customer_id': [101, 103, 101, 104, 106, 103],
    'order_total': [250.5, 99.9, 320.0, 45.0, 180.0, 75.5],
    'order_date': pd.to_datetime([
        '2024-01-05', '2024-01-10', '2024-02-02',
        '2024-02-14', '2024-02-20', '2024-03-01'
    ])
})

shipments = pd.DataFrame({
    'cust_id': [101, 103, 104, 105],
    'carrier': ['UPS', 'FedEx', 'USPS', 'UPS'],
    'shipping_cost': [15.0, 12.5, 8.0, 10.0]
})

In [3]:
customers

   customer_id    name         city loyalty_tier
0          101   Alice     New York         Gold
1          102     Bob  Los Angeles       Silver
2          103  Carlos      Chicago         Gold
3          104   Diana     New York       Bronze
4          105    Evan      Seattle       Silver

In [4]:
orders

   order_id  customer_id  order_total order_date
0      1001          101        250.5 2024-01-05
1      1002          103         99.9 2024-01-10
2      1003          101        320.0 2024-02-02
3      1004          104         45.0 2024-02-14
4      1005          106        180.0 2024-02-20
5      1006          103         75.5 2024-03-01

In [5]:
shipments




# Copy table and replace the cust_id column with customer_id
#df= shipments.copy()
#df['customer_id'] = df['cust_id']
#del df['cust_id']
#df.head()

   cust_id carrier  shipping_cost
0      101     UPS           15.0
1      103   FedEx           12.5
2      104    USPS            8.0
3      105     UPS           10.0

**Q1. A student attempts the following code:**

`pd.concat([customers, orders])`


a) Will this correctly combine customer information with their orders?
No

b) Explain why or why not.
It doesn't show clear of custtomer orders

c) What operation should be used instead?
using inner join operation

**Q2.Create a DataFrame that shows each order along with the customerâ€™s name and city.**

Keep all orders, even if the customer does not exist in the customers table.

In [9]:
pd.merge(customers, orders, how='right', on='customer_id')

,customer_id,name,city,loyalty_tier,order_id,order_total,order_date
0,101,Alice,New York,Gold,1001,250.5,2024-01-05
1,103,Carlos,Chicago,Gold,1002,99.9,2024-01-10
2,101,Alice,New York,Gold,1003,320.0,2024-02-02
3,104,Diana,New York,Bronze,1004,45.0,2024-02-14
4,106,NaN,NaN,NaN,1005,180.0,2024-02-20
5,103,Carlos,Chicago,Gold,1006,75.5,2024-03-01

**Q3. In the result from Question 2, one order has missing customer information.**

a) Which customer_id caused this?
customer_id = 106

b) Why does this happen?
This customer information is missed on the order data frame

**Q4.Combine customer information with shipment details so that each customer shows their carrier and shipping cost.**

Note:

- customers uses customer_id
- shipments uses cust_id

In [24]:
pd.merge(customers, shipments, how = 'left', left_on ='customer_id', right_on= 'cust_id')

,customer_id,name,city,loyalty_tier,cust_id,carrier,shipping_cost
0,101,Alice,New York,Gold,101.0,UPS,15.0
1,102,Bob,Los Angeles,Silver,NaN,NaN,NaN
2,103,Carlos,Chicago,Gold,103.0,FedEx,12.5
3,104,Diana,New York,Bronze,104.0,USPS,8.0
4,105,Evan,Seattle,Silver,105.0,UPS,10.0

,customer_id,name,city,loyalty_tier,cust_id,carrier,shipping_cost
0,101,Alice,New York,Gold,101.0,UPS,15.0
1,102,Bob,Los Angeles,Silver,NaN,NaN,NaN
2,103,Carlos,Chicago,Gold,103.0,FedEx,12.5
3,104,Diana,New York,Bronze,104.0,USPS,8.0
4,105,Evan,Seattle,Silver,105.0,UPS,10.0

**Q5.After the merge in Question 4, the result contains both customer_id and c ust_id.**

**Remove the redundant column.**

In [25]:
pd.merge(customers, shipments, how = 'left', left_on ='customer_id', right_on= 'cust_id').drop(columns=['cust_id'])

   customer_id    name         city loyalty_tier carrier  shipping_cost
0          101   Alice     New York         Gold     UPS           15.0
1          102     Bob  Los Angeles       Silver     NaN            NaN
2          103  Carlos      Chicago         Gold   FedEx           12.5
3          104   Diana     New York       Bronze    USPS            8.0
4          105    Evan      Seattle       Silver     UPS           10.0

**Q6. Set customer_id as the index of the customers DataFrame and merge it with orders without duplicating the ID column.**

In [37]:
pd.merge(customers, orders, how= 'left', on= 'customer_id')
#customers.set_index('customer_id').join(orders.set_index('customer_id'), how='left')

,customer_id,name,city,loyalty_tier,order_id,order_total,order_date
0,101,Alice,New York,Gold,1001.0,250.5,2024-01-05
1,101,Alice,New York,Gold,1003.0,320.0,2024-02-02
2,102,Bob,Los Angeles,Silver,NaN,NaN,NaT
3,103,Carlos,Chicago,Gold,1002.0,99.9,2024-01-10
4,103,Carlos,Chicago,Gold,1006.0,75.5,2024-03-01
5,104,Diana,New York,Bronze,1004.0,45.0,2024-02-14
6,105,Evan,Seattle,Silver,NaN,NaN,NaT

,name,city,loyalty_tier,order_id,customer_id,order_total,order_date
0.0,Alice,New York,Gold,1001.0,101,250.5,2024-01-05
2.0,Alice,New York,Gold,1003.0,101,320.0,2024-02-02
NaN,Bob,Los Angeles,Silver,NaN,102,NaN,NaT
1.0,Carlos,Chicago,Gold,1002.0,103,99.9,2024-01-10
5.0,Carlos,Chicago,Gold,1006.0,103,75.5,2024-03-01
3.0,Diana,New York,Bronze,1004.0,104,45.0,2024-02-14
NaN,Evan,Seattle,Silver,NaN,105,NaN,NaT

**Q7. In one sentence, explain when joining on an index is preferable to joining on a column.**

automatically aligning rows without creating redundant, duplicate key columns.

**Q8. Why would using pd.concat() be conceptually incorrect for combining customers and shipments?**


concat is for "gluing" similar things together, while merge/join is for "connecting" related information.