<a href="https://colab.research.google.com/github/wendyxie6/python-learning-journal/blob/main/Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Practice Exercises — Hotel Booking Dataset**

These exercises use the **hotel booking dataset** to practice core Pandas skills.
Follow the steps **in order**. Do not skip steps.

## **Step 0 — Setup & Dataset Loading**

### Exercise 0.1
Import the required libraries

In [2]:
import pandas as pd
import numpy as np

### Exercise 0.2
Load the dataset:
- File name: `hotel_booking_data.csv`
- Store it in a DataFrame called `df`

In [20]:
df = pd.read_csv('hotel_booking_data.csv')
df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

Display:
- The **first 5 rows**
- The **last 5 rows**

In [21]:
df.tail(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

## **Step 1 — Understanding the Data**

### Exercise 1.1
Check the **shape** of the dataset.
- How many rows?
- How many columns?

In [18]:
print(f"Number of rows: {len(df)}")
print(f"Number of columns: {len(df.columns)}")

Number of rows: 119390
Number of columns: 36

### Exercise 1.2
Display:
- Column names
- Data types of each column

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

### Exercise 1.3
Use `.info()` to answer:
- Which columns contain missing values?
- How many non-null values exist per column?

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 38 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
 36  has_company_info                119390 non-null  bool
 37  Null Count                      119390 non-null  int64
dtypes: bool(1), float64(4), int64(17), object(16)
memory usage: 33.8+ MB

### Exercise 1.4
Use `.describe()` on **numerical columns**.
- What is the average `lead_time`?
- What is the maximum number of `adults`?

In [28]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

## **Step 2 — Selecting Data (Indexing & Columns)**

### Exercise 2.1
Select and display **only** the following columns:
- `hotel`
- `lead_time`
- `adr`
- `is_canceled`

In [31]:
df[['hotel', 'lead_time', 'adr', 'is_canceled']]

               hotel  lead_time     adr  is_canceled
0       Resort Hotel        342    0.00            0
1       Resort Hotel        737    0.00            0
2       Resort Hotel          7   75.00            0
3       Resort Hotel         13   75.00            0
4       Resort Hotel         14   98.00            0
...              ...        ...     ...          ...
119385    City Hotel         23   96.14            0
119386    City Hotel        102  225.43            0
119387    City Hotel         34  157.71            0
119388    City Hotel        109  104.40            0
119389    City Hotel        205  151.20            0

[119390 rows x 4 columns]

### Exercise 2.2
Select a **single column** (`adr`) and:
- Check its data type
- Display its first 10 values

In [33]:
df['adr'].dtype
df['adr'].head(10)

0      0.0
1      0.0
2     75.0
3     75.0
4     98.0
5     98.0
6    107.0
7    103.0
8     82.0
9    105.5
Name: adr, dtype: float64

### Exercise 2.3
Select rows:
- Rows 0 through 9
- Rows 100 through 110

In [43]:
table1 = df.iloc[0:10]
table2 = df.iloc[100:111]

table = pd.concat([table1, table2])

table

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,has_company_info,Null Count
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,False,119390
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,False,119390
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,False,119390
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,False,119390
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,False,119390
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263,False,119390
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,0,Check-Out,2015-07-03,Dylan Rangel,Rangel.Dylan@comcast.net,420-332-5209,************6994,False,119390
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,William Velez,Velez_William@mail.com,286-669-4333,************8729,False,119390
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,0,1,Canceled,2015-05-06,Steven Murphy,Steven.Murphy54@aol.com,341-726-5787,************3639,False,119390
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,0,0,Canceled,2015-04-22,Michael Moore,MichaelMoore81@outlook.com,316-648-6176,************9190,False,119390
100,Resort Hotel,0,4,2015,July,27,4,2,1,2,...,0,1,Check-Out,2015-07-07,Barbara Alvarez,Barbara.A87@outlook.com,358-294-6282,************1072,False,119390
101,Resort Hotel,0,98,2015,July,27,4,2,1,2,...,1,0,Check-Out,2015-07-07,Noah Bowers,NoahBowers@protonmail.com,773-380-8502,************7381,False,119390
102,Resort Hotel,0,92,2015,July,27,4,2,4,1,...,0,2,Check-Out,2015-07-10,Thomas Morales,Morales.Thomas@att.com,952-506-4281,************6048,False,119390
103,Resort Hotel,0,95,2015,July,27,4,2,4,2,...,1,2,Check-Out,2015-07-10,Christopher Wilson,Christopher.Wilson@mail.com,189-137-7120,************7117,False,119390
104,Resort Hotel,0,102,2015,July,27,4,2,5,2,...,0,1,Check-Out,2015-07-11,Marcus Mitchell,Marcus.Mitchell40@hotmail.com,496-320-0970,************5645,False,119390
105,Resort Hotel,1,26,2015,July,27,4,2,5,2,...,0,0,Canceled,2015-06-09,Joshua Bailey,JBailey29@aol.com,995-641-6241,************8273,False,119390
106,Resort Hotel,1,73,2015,July,27,4,2,5,3,...,0,1,Canceled,2015-05-20,Dennis Weaver,DWeaver@yandex.com,247-140-1235,************5292,False,119390
107,Resort Hotel,1,102,2015,July,27,4,2,5,2,...,0,1,Canceled,2015-04-22,William Gordon,WilliamGordon@xfinity.com,244-158-4067,************9110,False,119390
108,Resort Hotel,0,115,2015,July,27,4,2,5,2,...,0,1,Check-Out,2015-07-11,Nicholas Acosta,NAcosta52@gmail.com,879-786-1294,************4489,False,119390
109,Resort Hotel,0,102,2015,July,27,4,2,5,2,...,0,2,Check-Out,2015-07-11,Angel Smith,Angel_S@zoho.com,777-065-6700,************8689,False,119390
110,Resort Hotel,0,86,2015,July,27,4,2,5,2,...,0,2,Check-Out,2015-07-11,Rebecca Brooks,Rebecca.Brooks84@yahoo.com,851-509-5189,************7896,False,119390

## **Step 3 — Filtering Rows (Boolean Indexing)**

### Exercise 3.1
Filter bookings where:
- `hotel` is `"Resort Hotel"`

In [54]:
df[df['hotel'] == 'Resort Hotel']

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,has_company_info,Null Count
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,False,119390
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,False,119390
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,False,119390
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,False,119390
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,False,119390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40055,Resort Hotel,0,212,2017,August,35,31,2,8,2,...,0,0,Check-Out,2017-09-10,Willie Hamilton,Hamilton_Willie@mail.com,172-436-4780,************5145,False,119390
40056,Resort Hotel,0,169,2017,August,35,30,2,9,2,...,0,1,Check-Out,2017-09-10,Carrie Walker,Carrie_Walker@yahoo.com,141-149-4764,************9816,False,119390
40057,Resort Hotel,0,204,2017,August,35,29,4,10,2,...,0,3,Check-Out,2017-09-12,Joshua Small,Joshua_Small@aol.com,769-653-1129,************7686,False,119390
40058,Resort Hotel,0,211,2017,August,35,31,4,10,2,...,0,1,Check-Out,2017-09-14,Michele Hanson,MHanson@yahoo.com,670-269-4799,************8961,False,119390
40059,Resort Hotel,0,161,2017,August,35,31,4,10,2,...,0,0,Check-Out,2017-09-14,David Smith,David_Smith@mail.com,422-842-8212,************4918,False,119390

### Exercise 3.2
Filter bookings where:
- `is_canceled == 1`

How many canceled bookings are there?

In [55]:
df[df['is_canceled'] == 1]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,has_company_info,Null Count
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,0,1,Canceled,2015-05-06,Steven Murphy,Steven.Murphy54@aol.com,341-726-5787,************3639,False,119390
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,0,0,Canceled,2015-04-22,Michael Moore,MichaelMoore81@outlook.com,316-648-6176,************9190,False,119390
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,0,0,Canceled,2015-06-23,Priscilla Collins PhD,PhD.Priscilla74@att.com,833-887-7898,************4642,False,119390
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,0,2,Canceled,2015-05-11,Jaime Flynn,JaimeFlynn29@gmail.com,549-866-3721,************9660,False,119390
32,Resort Hotel,1,96,2015,July,27,1,2,8,2,...,0,2,Canceled,2015-05-29,Reginald Cunningham,Reginald_C57@outlook.com,800-249-2144,************5699,False,119390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110280,City Hotel,1,132,2017,April,17,25,0,0,0,...,0,3,Canceled,2017-04-25,Robert Webb,RobertWebb@mail.com,517-253-9863,************2840,False,119390
111355,City Hotel,1,4,2017,June,23,5,1,0,1,...,0,0,Canceled,2017-06-05,Jill Chapman,Jill_Chapman@hotmail.com,946-165-9749,************9935,True,119390
111924,City Hotel,1,7,2017,May,22,31,0,1,1,...,0,0,Canceled,2017-05-31,Joseph Snyder,Snyder.Joseph@yandex.com,887-156-4050,************3905,True,119390
111925,City Hotel,1,6,2017,July,29,17,1,0,1,...,0,0,No-Show,2017-07-17,Lisa Berg,Lisa_Berg@yandex.com,348-997-3814,************6388,True,119390
117295,City Hotel,1,0,2017,August,31,2,0,2,1,...,0,1,No-Show,2017-08-02,Russell Bennett,Russell.Bennett76@hotmail.com,117-040-1415,************9864,True,119390

### Exercise 3.3
Filter bookings where:
- `adr` is greater than 150

In [56]:
df[df['adr'] >150]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,has_company_info,Null Count
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,0,1,Check-Out,2015-07-05,Rachel Friedman,Rachel.F@protonmail.com,435-075-8409,************9767,False,119390
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,0,1,Check-Out,2015-07-05,Stephanie Schmidt,StephanieSchmidt@hotmail.com,896-642-1049,************1110,False,119390
45,Resort Hotel,1,47,2015,July,27,2,2,5,2,...,0,0,Canceled,2015-06-02,Michael Mccormick,Mccormick.Michael19@aol.com,380-830-9585,************2950,False,119390
65,Resort Hotel,0,10,2015,July,27,3,0,2,2,...,1,0,Check-Out,2015-07-05,Christopher Cabrera,Cabrera.Christopher@yahoo.com,852-612-3076,************8922,False,119390
97,Resort Hotel,0,63,2015,July,27,3,2,5,3,...,0,1,Check-Out,2015-07-10,Daniel Richard,Daniel_R@xfinity.com,540-499-1735,************9315,False,119390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119379,City Hotel,0,109,2017,August,35,31,1,3,2,...,0,1,Check-Out,2017-09-04,Amanda Rogers,AmandaRogers@gmail.com,590-022-0933,************5102,False,119390
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,0,0,Check-Out,2017-09-05,Cesar Moreno,Cesar_M50@comcast.net,666-379-7260,************7835,False,119390
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333,False,119390
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821,False,119390
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,False,119390

### Exercise 3.4
Filter bookings where:
- `hotel` is `"City Hotel"`
- AND `is_canceled == 0`

In [60]:
flt = df[(df['hotel'] == 'City Hotel') & (df['is_canceled'] == 0)]
flt

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,has_company_info,Null Count
40060,City Hotel,0,6,2015,July,27,1,0,2,1,...,0,0,Check-Out,2015-07-03,Elizabeth Ross,Ross.Elizabeth@att.com,313-076-6204,************4378,False,119390
40066,City Hotel,0,3,2015,July,27,2,0,3,1,...,0,0,Check-Out,2015-07-05,Mr. Christopher Davis MD,Mr._M@aol.com,855-025-3048,************4574,False,119390
40070,City Hotel,0,43,2015,July,27,3,0,2,2,...,0,0,Check-Out,2015-07-05,Crystal Pierce,CrystalPierce93@zoho.com,672-975-9750,************1962,False,119390
40071,City Hotel,0,43,2015,July,27,3,0,2,2,...,0,0,Check-Out,2015-07-05,Jeremy Wilcox,Jeremy_Wilcox@hotmail.com,100-100-0744,************4150,False,119390
40072,City Hotel,0,43,2015,July,27,3,0,2,2,...,0,0,Check-Out,2015-07-05,Anna Melendez,Anna_M70@outlook.com,844-417-3641,************2464,False,119390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647,False,119390
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333,False,119390
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821,False,119390
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860,False,119390
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,False,119390

## **Step 4 — Creating & Modifying Columns**

### Exercise 4.1
Create a new column called:
- `total_guests`

It should be the sum of:
- `adults`
- `children`
- `babies`

In [63]:
df['total_guests'] = df['adults'] + df['children'] + df['babies']
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,has_company_info,Null Count,total_guests
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,False,119390,2.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,False,119390,2.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,False,119390,1.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,False,119390,1.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,False,119390,2.0

### Exercise 4.2
Create a column called:
- `is_family`

Set it to:
- `True` if `children > 0` OR `babies > 0`
- `False` otherwise

In [79]:
df['is_family'] = (df['children'] > 0) | (df['babies'] >0)
df['children'] = df['children'].fillna(0)
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reservation_status,reservation_status_date,name,email,phone-number,credit_card,has_company_info,Null Count,total_guests,is_family
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,False,119390,2.0,False
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,False,119390,2.0,False
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,False,119390,1.0,False
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,False,119390,1.0,False
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,False,119390,2.0,False

### Exercise 4.3
Verify your changes:
- Display the first 5 rows including the new columns

In [84]:
family = df[df['is_family'] == True][['hotel', 'adr', 'total_guests', 'is_family']]
family

               hotel     adr  total_guests  is_family
13      Resort Hotel  154.77           3.0       True
45      Resort Hotel  153.00           4.0       True
55      Resort Hotel  107.00           4.0       True
65      Resort Hotel  153.00           4.0       True
87      Resort Hotel  108.73           3.0       True
...              ...     ...           ...        ...
119270    City Hotel  135.00           3.0       True
119287    City Hotel  177.75           3.0       True
119293    City Hotel  189.00           4.0       True
119318    City Hotel  153.90           3.0       True
119319    City Hotel  194.13           4.0       True

[9332 rows x 4 columns]