<a href="https://colab.research.google.com/github/wendyxie6/python-learning-journal/blob/main/Pandas_Methods_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Practice Exercises — Hotel Booking Dataset**

In this exercise set, we will explore the **Hotel Booking dataset** using pandas methods. Follow the steps carefully and try to solve each exercise before checking the solution.

Follow the steps **in order**. Do not skip steps.

## **Step 0 — Setup & Dataset Loading**

### Exercise 0.1
Import the required libraries

In [1]:
import pandas as pd
import numpy as np

### Exercise 0.2
Load the dataset:
- File name: `hotel_booking_data.csv`
- Store it in a DataFrame called `df`

In [2]:
df = pd.read_csv('hotel_booking_data.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

## **Step 1 — Understanding the Data**

### Exercise 1.1
Check the **shape** of the dataset.
- How many rows?
- How many columns?

In [7]:
len(df), len(df.columns)

(119390, 36)

(119390, 36)

### Exercise 1.2
Display:
- Column names
- Data types of each column

In [12]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
name                               object
email                              object
phone-number                       object
credit_card                        object
dtype: object

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
name                               object
email                              object
phone-number                       object
credit_card                        object
dtype: object

### Exercise 1.3
Use `.info()` to answer:
- Which columns contain missing values?
- How many non-null values exist per column?

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

## **Step 2: Value Counts**

1. Count how many bookings were made for each hotel type (hotel column).
2. Count how many bookings are for weekend vs. weekday stays (arrival_date_week_number).

In [15]:
df['hotel'].value_counts()

hotel
City Hotel      79330
Resort Hotel    40060
Name: count, dtype: int64

hotel
City Hotel      79330
Resort Hotel    40060
Name: count, dtype: int64

In [16]:
df['arrival_date_week_number'].value_counts()

arrival_date_week_number
33    3580
30    3087
32    3045
34    3040
18    2926
21    2854
28    2853
17    2805
20    2785
29    2763
42    2756
31    2741
41    2699
15    2689
27    2664
25    2663
38    2661
23    2621
35    2593
39    2581
22    2546
24    2498
13    2416
16    2405
19    2402
40    2397
26    2391
43    2352
44    2272
14    2264
37    2229
8     2216
36    2167
10    2149
9     2117
7     2109
12    2083
11    2070
45    1941
53    1816
49    1782
47    1685
46    1574
6     1508
50    1505
48    1504
4     1487
5     1387
3     1319
2     1218
52    1195
1     1047
51     933
Name: count, dtype: int64

arrival_date_week_number
33    3580
30    3087
32    3045
34    3040
18    2926
21    2854
28    2853
17    2805
20    2785
29    2763
42    2756
31    2741
41    2699
15    2689
27    2664
25    2663
38    2661
23    2621
35    2593
39    2581
22    2546
24    2498
13    2416
16    2405
19    2402
40    2397
26    2391
43    2352
44    2272
14    2264
37    2229
8     2216
36    2167
10    2149
9     2117
7     2109
12    2083
11    2070
45    1941
53    1816
49    1782
47    1685
46    1574
6     1508
50    1505
48    1504
4     1487
5     1387
3     1319
2     1218
52    1195
1     1047
51     933
Name: count, dtype: int64

## **Step 3 : Replace / Map**

1. Replace the meal codes with full names:
    - BB → Bed & Breakfast
    - HB → Half Board
    - FB → Full Board
    - SC → Self Catering

2. Map the is_canceled column to Yes / No labels:
    - 1 → Yes
    - 0 → No

In [20]:
df['meal'].replace({'BB': 'Bed & Breakfast', 'HB': 'Half Board', 'FB': 'Full Board', 'SC': 'Self Catering'}, inplace=True)
df['meal'].unique().tolist()

['Bed & Breakfast', 'Full Board', 'Half Board', 'Self Catering', 'Undefined']

## **Step 4 — Unique / Nunique**
1. Display all unique arrival months.
2. Count how many unique countries are in the dataset.

In [21]:
df['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [25]:
df['country'].nunique()

177

177

## **Step 5: Apply / Lambda**
1. Create a new column total_guests = adults + children + babies using:
    - A custom function with apply()
    - A lambda function with apply()
2. Create a new column booking_type:
    - total_guests <= 2 → Small Party
    - total_guests > 2 → Large Party

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_guests,booking_type
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,2.0,Small Party
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,2.0,Small Party
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,1.0,Small Party
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,1.0,Small Party
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,2.0,Small Party
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647,2.0,Small Party
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333,3.0,Large Party
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821,2.0,Small Party
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860,2.0,Small Party
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,2.0,Small Party

In [ ]:
# Lambda function

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_guests,booking_type
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,2.0,Small Party
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,2.0,Small Party
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,1.0,Small Party
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,1.0,Small Party
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,2.0,Small Party
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647,2.0,Small Party
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333,3.0,Large Party
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821,2.0,Small Party
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860,2.0,Small Party
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,2.0,Small Party

In [ ]:
# Booking type

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_guests,booking_type
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,2.0,Small Party
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,2.0,Small Party
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,1.0,Small Party
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,1.0,Small Party
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,2.0,Small Party
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647,2.0,Small Party
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333,3.0,Large Party
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821,2.0,Small Party
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860,2.0,Small Party
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,2.0,Small Party

## **Step 6: Correlation**
1. Calculate the correlation matrix of numeric columns.
2. Check correlation between lead_time and adr (average daily rate).

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,...,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests,total_guests
is_canceled,1.000000,0.293123,0.016660,0.008148,-0.006130,-0.001791,0.024765,0.060017,0.005048,-0.032491,...,0.110133,-0.057358,-0.144381,-0.083114,-0.020642,0.054186,0.047557,-0.195498,-0.234658,0.046506
lead_time,0.293123,1.000000,0.040142,0.126871,0.002268,0.085671,0.165799,0.119519,-0.037622,-0.020915,...,0.086042,-0.073548,0.000149,-0.069741,0.151464,0.170084,-0.063077,-0.116451,-0.095712,0.072279
arrival_date_year,0.016660,0.040142,1.000000,-0.540561,-0.000221,0.021497,0.030883,0.029635,0.054624,-0.013192,...,-0.119822,0.029218,0.030872,0.063457,0.259095,-0.056497,0.197580,-0.013684,0.108531,0.052152
arrival_date_week_number,0.008148,0.126871,-0.540561,1.000000,0.066809,0.018208,0.015558,0.025909,0.005518,0.010395,...,0.035501,-0.020904,0.005508,-0.031201,-0.076760,0.022933,0.075791,0.001920,0.026149,0.025216
arrival_date_day_of_month,-0.006130,0.002268,-0.000221,0.066809,1.000000,-0.016354,-0.028174,-0.001566,0.014544,-0.000230,...,-0.027011,-0.000300,0.010613,0.001487,0.044858,0.022728,0.030245,0.008683,0.003062,0.006758
stays_in_weekend_nights,-0.001791,0.085671,0.021497,0.018208,-0.016354,1.000000,0.498969,0.091871,0.045793,0.018483,...,-0.012775,-0.042715,0.063281,0.140739,0.066749,-0.054151,0.049342,-0.018554,0.072671,0.101439
stays_in_week_nights,0.024765,0.165799,0.030883,0.015558,-0.028174,0.498969,1.000000,0.092976,0.044203,0.020191,...,-0.013992,-0.048743,0.096209,0.182382,0.182211,-0.002020,0.065237,-0.024859,0.068192,0.101670
adults,0.060017,0.119519,0.029635,0.025909,-0.001566,0.091871,0.092976,1.000000,0.030447,0.018146,...,-0.006738,-0.107983,-0.051673,-0.035594,0.207793,-0.008283,0.230641,0.014785,0.122884,0.821102
children,0.005048,-0.037622,0.054624,0.005518,0.014544,0.045793,0.044203,0.030447,1.000000,0.024030,...,-0.024730,-0.021072,0.048949,0.041066,0.030931,-0.033273,0.324854,0.056253,0.081745,0.579373
babies,-0.032491,-0.020915,-0.013192,0.010395,-0.000230,0.018483,0.020191,0.018146,0.024030,1.000000,...,-0.007501,-0.006550,0.083440,0.036184,0.019206,-0.010621,0.029186,0.037383,0.097889,0.162690
is_repeated_guest,-0.084793,-0.124410,0.010341,-0.030131,-0.006145,-0.087239,-0.097245,-0.146426,-0.032859,-0.008943,...,0.082293,0.418056,0.012092,0.031527,-0.244586,-0.022235,-0.134314,0.077090,0.013050,-0.136747
previous_cancellations,0.110133,0.086042,-0.119822,0.035501,-0.027011,-0.012775,-0.013992,-0.006738,-0.024730,-0.007501,...,1.000000,0.152728,-0.026993,-0.012488,-0.184574,0.005929,-0.065646,-0.018492,-0.048384,-0.020057
previous_bookings_not_canceled,-0.057358,-0.073548,0.029218,-0.020904,-0.000300,-0.042715,-0.048743,-0.107983,-0.021072,-0.006550,...,0.152728,1.000000,0.011608,0.023252,-0.208557,-0.009397,-0.072144,0.047653,0.037824,-0.099096
booking_changes,-0.144381,0.000149,0.030872,0.005508,0.010613,0.063281,0.096209,-0.051673,0.048949,0.083440,...,-0.026993,0.011608,1.000000,0.067010,0.122098,-0.011634,0.019618,0.065620,0.052833,-0.003168
agent,-0.083114,-0.069741,0.063457,-0.031201,0.001487,0.140739,0.182382,-0.035594,0.041066,0.036184,...,-0.012488,0.023252,0.067010,1.000000,0.350746,-0.055151,-0.024695,0.177353,0.034162,0.004498
company,-0.020642,0.151464,0.259095,-0.076760,0.044858,0.066749,0.182211,0.207793,0.030931,0.019206,...,-0.184574,-0.208557,0.122098,0.350746,1.000000,0.000411,0.086376,-0.012916,-0.098558,0.199667
days_in_waiting_list,0.054186,0.170084,-0.056497,0.022933,0.022728,-0.054151,-0.002020,-0.008283,-0.033273,-0.010621,...,0.005929,-0.009397,-0.011634,-0.055151,0.000411,1.000000,-0.040756,-0.030600,-0.082730,-0.026429
adr,0.047557,-0.063077,0.197580,0.075791,0.030245,0.049342,0.065237,0.230641,0.324854,0.029186,...,-0.065646,-0.072144,0.019618,-0.024695,0.086376,-0.040756,1.000000,0.056628,0.172185,0.368144
required_car_parking_spaces,-0.195498,-0.116451,-0.013684,0.001920,0.008683,-0.018554,-0.024859,0.014785,0.056253,0.037383,...,-0.018492,0.047653,0.065620,0.177353,-0.012916,-0.030600,0.056628,1.000000,0.082626,0.047938
total_of_special_requests,-0.234658,-0.095712,0.108531,0.026149,0.003062,0.072671,0.068192,0.122884,0.081745,0.097889,...,-0.048384,0.037824,0.052833,0.034162,-0.098558,-0.082730,0.172185,0.082626,1.000000,0.156816
total_guests,0.046506,0.072279,0.052152,0.025216,0.006758,0.101439,0.101670,0.821102,0.579373,0.162690,...,-0.020057,-0.099096,-0.003168,0.004498,0.199667,-0.026429,0.368144,0.047938,0.156816,1.000000

           lead_time       adr
lead_time   1.000000 -0.063077
adr        -0.063077  1.000000

## **Step 7: Duplicates**
1. Check if there are any duplicate rows in the dataset.
2. Remove duplicates based on the columns hotel, arrival_date_year, arrival_date_month, arrival_date_day_of_month.

np.int64(0)

## **Step 8: Between**
1. Filter bookings with adr (average daily rate) between 100 and 300 inclusive.
2. Filter bookings with lead_time strictly between 10 and 30.

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_guests,booking_type
65,Resort Hotel,0,10,2015,July,27,3,0,2,2,...,1,0,Check-Out,2015-07-05,Christopher Cabrera,Cabrera.Christopher@yahoo.com,852-612-3076,************8922,4.0,Large Party
160,Resort Hotel,0,115,2015,July,28,6,1,4,2,...,0,0,Check-Out,2015-07-11,Rebecca Price,Rebecca.Price@zoho.com,805-825-8710,************9954,4.0,Large Party
210,Resort Hotel,0,68,2015,July,28,8,0,3,2,...,0,1,Check-Out,2015-07-11,Robert Baker,RBaker@zoho.com,304-566-1032,************5253,2.0,Small Party
230,Resort Hotel,0,17,2015,July,28,9,0,1,2,...,0,3,Check-Out,2015-07-10,Jennifer Cunningham,Jennifer.Cunningham@comcast.net,410-916-8076,************9435,4.0,Large Party
248,Resort Hotel,0,10,2015,July,28,10,0,1,2,...,0,0,Check-Out,2015-07-11,Amanda Johnson,Amanda_Johnson30@att.com,660-317-3148,************7967,2.0,Small Party
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73586,City Hotel,1,38,2017,August,35,27,1,0,2,...,0,1,Canceled,2017-08-10,Emily Wilson,Emily_W46@comcast.net,426-398-1188,************3425,3.0,Large Party
73614,City Hotel,1,7,2017,August,35,28,1,0,2,...,0,2,Canceled,2017-08-22,Gregory White,White.Gregory@yahoo.com,224-274-0378,************6654,2.0,Small Party
73670,City Hotel,1,23,2017,August,35,30,0,2,2,...,0,0,Canceled,2017-08-08,Robert Griffith,Griffith.Robert@comcast.net,774-440-2965,************7089,4.0,Large Party
73683,City Hotel,1,65,2017,August,35,31,0,1,2,...,0,0,Canceled,2017-07-07,Geoffrey Gibbs,GeoffreyGibbs@comcast.net,369-472-3803,************8241,2.0,Small Party
81291,City Hotel,0,6,2015,December,50,7,1,0,2,...,1,0,Check-Out,2015-12-08,Michael Branch,Michael_Branch@protonmail.com,217-716-2452,************6616,2.0,Small Party

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_guests,booking_type
230,Resort Hotel,0,17,2015,July,28,9,0,1,2,...,0,3,Check-Out,2015-07-10,Jennifer Cunningham,Jennifer.Cunningham@comcast.net,410-916-8076,************9435,4.0,Large Party
508,Resort Hotel,0,19,2015,July,29,18,2,1,2,...,0,2,Check-Out,2015-07-21,Jessica Cooper,Cooper_Jessica93@gmail.com,529-640-4850,************8733,2.0,Small Party
566,Resort Hotel,0,14,2015,July,30,20,1,0,1,...,0,0,Check-Out,2015-07-21,Monica Trevino,Trevino_Monica@verizon.com,148-159-8385,************2767,1.0,Small Party
618,Resort Hotel,0,16,2015,July,30,23,0,0,2,...,0,0,Check-Out,2015-07-23,Chase Perry,ChasePerry@yahoo.com,398-362-0131,************3312,4.0,Large Party
794,Resort Hotel,1,15,2015,July,31,30,0,1,2,...,0,3,Canceled,2015-07-16,Mary Morales,Mary.M@verizon.com,843-803-5843,************4826,2.0,Small Party
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70990,City Hotel,1,25,2017,June,26,27,0,1,2,...,0,0,Canceled,2017-06-02,Jay Woods,Woods_Jay@hotmail.com,978-056-0338,************9837,2.0,Small Party
71810,City Hotel,1,26,2017,July,28,13,0,1,3,...,0,1,Canceled,2017-06-17,Robert Smith,Robert.Smith@yandex.com,224-097-2501,************9608,3.0,Large Party
72523,City Hotel,1,12,2017,July,31,30,1,0,2,...,0,1,Canceled,2017-07-21,Brandon King,Brandon.K@zoho.com,657-849-7766,************7444,2.0,Small Party
73044,City Hotel,1,13,2017,August,33,13,1,0,2,...,0,1,Canceled,2017-08-05,Susan Hanson,Susan_Hanson31@att.com,173-932-9004,************1109,2.0,Small Party
73670,City Hotel,1,23,2017,August,35,30,0,2,2,...,0,0,Canceled,2017-08-08,Robert Griffith,Griffith.Robert@comcast.net,774-440-2965,************7089,4.0,Large Party

## **Step 9: Sample**
1. Randomly select 5 bookings.
2. Randomly select 10% of the dataset with a fixed random_state=42.

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_guests,booking_type
48903,City Hotel,1,31,2016,April,14,2,0,1,2,...,0,0,Canceled,2016-03-06,Sarah Johnson,Sarah_Johnson47@att.com,687-111-3225,************1209,2.0,Small Party
6039,Resort Hotel,1,46,2016,May,22,22,1,0,2,...,0,0,Canceled,2016-04-12,Larry Rogers,Larry_R@yandex.com,850-649-4391,************3929,2.0,Small Party
10137,Resort Hotel,1,24,2017,February,7,16,0,3,2,...,0,1,Canceled,2017-01-28,Natalie Hampton,NatalieHampton@xfinity.com,128-056-8094,************1393,2.0,Small Party
7485,Resort Hotel,1,13,2016,August,33,12,0,2,2,...,0,0,Canceled,2016-07-31,Nancy Vega,Vega.Nancy77@zoho.com,102-496-6760,************2755,2.0,Small Party
9915,Resort Hotel,1,8,2017,January,4,23,1,0,1,...,0,0,Canceled,2017-01-16,Dustin Brown,Dustin_B@zoho.com,924-382-8750,************1477,1.0,Small Party

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_guests,booking_type
8876,Resort Hotel,1,0,2016,October,43,18,0,1,3,...,0,0,Canceled,2016-10-18,Jessica Chung,Jessica_Chung@comcast.net,136-318-9721,************2081,4.0,Large Party
6340,Resort Hotel,1,264,2016,June,23,4,1,1,2,...,0,3,Canceled,2015-11-17,Erica Hubbard,Erica_Hubbard89@hotmail.com,723-953-4309,************6281,2.0,Small Party
45974,City Hotel,0,3,2015,December,49,4,0,1,2,...,0,0,Check-Out,2015-12-05,Ryan Ramirez,RyanRamirez@mail.com,429-449-2919,************9270,2.0,Small Party
7107,Resort Hotel,1,10,2016,July,30,22,0,1,2,...,0,0,Canceled,2016-07-13,John Taylor,John.Taylor@xfinity.com,482-693-6489,************2219,2.0,Small Party
2254,Resort Hotel,1,21,2015,October,41,8,0,1,1,...,0,1,Canceled,2015-10-08,Kara Saunders,Kara.S@yahoo.com,818-325-2388,************7762,1.0,Small Party
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56401,City Hotel,1,1,2016,September,37,5,0,0,2,...,0,0,Canceled,2016-09-05,Michael Anderson,MichaelAnderson96@gmail.com,746-384-4649,************2358,2.0,Small Party
61027,City Hotel,1,8,2016,November,49,30,0,2,2,...,0,1,Canceled,2016-11-25,Lisa Bush,LBush@xfinity.com,913-005-0972,************7482,2.0,Small Party
55930,City Hotel,1,125,2016,August,35,25,0,1,2,...,0,1,Canceled,2016-08-21,Alejandra Knox,Knox_Alejandra66@att.com,953-536-0883,************6659,2.0,Small Party
40477,City Hotel,1,27,2015,July,31,27,1,1,2,...,0,0,Canceled,2015-07-02,Jeffrey Lee,Jeffrey.L91@hotmail.com,329-574-9710,************3317,2.0,Small Party
59937,City Hotel,1,69,2016,November,45,4,0,1,2,...,0,2,Canceled,2016-10-09,James Williams,James.Williams@comcast.net,408-712-9337,************8982,2.0,Small Party

## **Step 10: Sort / nlargest / nsmallest**
1. Sort the dataset by adr in descending order.
2. Find the top 5 bookings with highest adr using nlargest.
3. Find the 5 bookings with smallest lead_time using nsmallest.

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_guests,booking_type
48515,City Hotel,1,35,2016,March,13,25,0,1,2,...,0,0,Canceled,2016-02-19,Daniel Walter,DanielWalter27@comcast.net,865-280-5832,************6075,2.0,Small Party
9768,Resort Hotel,1,319,2016,December,53,31,0,1,2,...,0,0,Canceled,2016-02-22,Lisa Acevedo,Lisa.Acevedo88@mail.com,994-518-7734,************2711,2.0,Small Party
72966,City Hotel,1,31,2017,August,32,11,0,1,2,...,0,1,Canceled,2017-07-12,James Black,James.Black@outlook.com,862-775-3912,************5901,5.0,Large Party
12785,Resort Hotel,1,25,2017,July,29,17,1,1,2,...,0,1,Canceled,2017-07-04,Brian Joseph,BrianJoseph@outlook.com,325-205-6013,************5500,4.0,Large Party
7793,Resort Hotel,1,41,2016,August,35,27,2,1,3,...,0,0,Canceled,2016-07-17,Jessica Mitchell,JessicaMitchell49@zoho.com,922-006-2534,************8652,4.0,Large Party
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42024,City Hotel,0,0,2015,August,36,30,0,0,1,...,0,0,Check-Out,2015-08-30,Jacqueline Thompson,JThompson@mail.com,463-808-8110,************3286,1.0,Small Party
2859,Resort Hotel,0,36,2015,November,45,3,0,0,2,...,0,1,Check-Out,2015-11-03,Charles Wright,CWright70@aol.com,981-541-5501,************6692,2.0,Small Party
46596,City Hotel,0,3,2016,January,3,10,0,0,2,...,0,1,Check-Out,2016-01-10,Alicia Crawford,Crawford.Alicia11@comcast.net,922-258-1548,************5740,2.0,Small Party
814,Resort Hotel,0,42,2015,July,31,31,0,0,1,...,0,0,Check-Out,2015-07-31,Dustin Taylor,DTaylor@mail.com,105-980-8487,************6105,1.0,Small Party
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,2.0,Small Party

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_guests,booking_type
48515,City Hotel,1,35,2016,March,13,25,0,1,2,...,0,0,Canceled,2016-02-19,Daniel Walter,DanielWalter27@comcast.net,865-280-5832,************6075,2.0,Small Party
9768,Resort Hotel,1,319,2016,December,53,31,0,1,2,...,0,0,Canceled,2016-02-22,Lisa Acevedo,Lisa.Acevedo88@mail.com,994-518-7734,************2711,2.0,Small Party
72966,City Hotel,1,31,2017,August,32,11,0,1,2,...,0,1,Canceled,2017-07-12,James Black,James.Black@outlook.com,862-775-3912,************5901,5.0,Large Party
12785,Resort Hotel,1,25,2017,July,29,17,1,1,2,...,0,1,Canceled,2017-07-04,Brian Joseph,BrianJoseph@outlook.com,325-205-6013,************5500,4.0,Large Party
7793,Resort Hotel,1,41,2016,August,35,27,2,1,3,...,0,0,Canceled,2016-07-17,Jessica Mitchell,JessicaMitchell49@zoho.com,922-006-2534,************8652,4.0,Large Party

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_guests,booking_type
538,Resort Hotel,0,0,2015,July,30,19,1,0,2,...,0,0,Check-Out,2015-07-20,James Benson,James_B@hotmail.com,771-197-3340,************8450,2.0,Small Party
611,Resort Hotel,0,0,2015,July,30,22,0,1,2,...,1,0,Check-Out,2015-07-23,Latoya Frank,Latoya_F@hotmail.com,532-648-8363,************7321,2.0,Small Party
956,Resort Hotel,0,0,2015,August,32,8,0,1,2,...,1,0,Check-Out,2015-08-09,Jennifer Watts,Jennifer.Watts@yahoo.com,517-812-5292,************3303,2.0,Small Party
984,Resort Hotel,0,0,2015,August,33,9,1,0,2,...,0,0,Check-Out,2015-08-10,Jose Bradley,Jose.Bradley@zoho.com,529-511-6356,************3859,2.0,Small Party
1073,Resort Hotel,0,0,2015,August,33,13,0,1,2,...,0,1,Check-Out,2015-08-14,David Jefferson,David.J89@aol.com,619-298-3273,************3124,2.0,Small Party

## **Step 11: idxmin / idxmax**
1. Find the booking with the smallest adr.
2. Find the booking with the largest lead_time.

hotel                                            Resort Hotel
is_canceled                                                 0
lead_time                                                 342
arrival_date_year                                        2015
arrival_date_month                                       July
arrival_date_week_number                                   27
arrival_date_day_of_month                                   1
stays_in_weekend_nights                                     0
stays_in_week_nights                                        0
adults                                                      2
children                                                  0.0
babies                                                      0
meal                                                       BB
country                                                   PRT
market_segment                                         Direct
distribution_channel                                   Direct
is_repeated_guest                                           0
previous_cancellations                                      0
previous_bookings_not_canceled                              0
reserved_room_type                                          C
assigned_room_type                                          C
booking_changes                                             3
deposit_type                                       No Deposit
agent                                                     NaN
company                                                   NaN
days_in_waiting_list                                        0
customer_type                                       Transient
adr                                                       0.0
required_car_parking_spaces                                 0
total_of_special_requests                                   0
reservation_status                                  Check-Out
reservation_status_date                            2015-07-01
name                                            Ernest Barnes
email                             Ernest.Barnes31@outlook.com
phone-number                                     669-792-1661
credit_card                                  ************4322
total_guests                                              2.0
booking_type                                      Small Party
Name: 0, dtype: object

hotel                                      City Hotel
is_canceled                                         1
lead_time                                         629
arrival_date_year                                2017
arrival_date_month                              March
arrival_date_week_number                           13
arrival_date_day_of_month                          30
stays_in_weekend_nights                             0
stays_in_week_nights                                1
adults                                              1
children                                          0.0
babies                                              0
meal                                               BB
country                                           PRT
market_segment                                 Groups
distribution_channel                            TA/TO
is_repeated_guest                                   0
previous_cancellations                              0
previous_bookings_not_canceled                      0
reserved_room_type                                  A
assigned_room_type                                  A
booking_changes                                     0
deposit_type                               Non Refund
agent                                             1.0
company                                           NaN
days_in_waiting_list                                0
customer_type                               Transient
adr                                              59.0
required_car_parking_spaces                         0
total_of_special_requests                           0
reservation_status                           Canceled
reservation_status_date                    2015-10-21
name                                   Peter Morrison
email                             Peter_M@comcast.net
phone-number                             594-478-7290
credit_card                          ************1758
total_guests                                      1.0
booking_type                              Small Party
Name: 65231, dtype: object

## **Step 12: Final Exploration**
1. Identify which country made the most bookings.
2. Identify the month with the highest number of bookings.
3. Count bookings for canceled vs. not canceled.

'PRT'

'July'

is_canceled
1    1227
0     359
Name: count, dtype: int64