<a href="https://colab.research.google.com/github/wendyxie6/python-learning-journal/blob/main/Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Practice Exercises — Hotel Booking Dataset**

These exercises use the **hotel booking dataset** to practice core Pandas skills.
Follow the steps **in order**. Do not skip steps.

## **Step 0 — Setup & Dataset Loading**

### Exercise 0.1
Import the required libraries

In [2]:
import pandas as pd
import numpy as np

### Exercise 0.2
Load the dataset:
- File name: `hotel_booking_data.csv`
- Store it in a DataFrame called `df`

In [4]:
df = pd.read_csv('hotel_booking_data.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

Display:
- The **first 5 rows**
- The **last 5 rows**

## **Step 1 — Understanding the Data**

### Exercise 1.1
Check the **shape** of the dataset.
- How many rows?
- How many columns?

### Exercise 1.2
Display:
- Column names
- Data types of each column

### Exercise 1.3
Use `.info()` to answer:
- Which columns contain missing values?
- How many non-null values exist per column?

### Exercise 1.4
Use `.describe()` on **numerical columns**.
- What is the average `lead_time`?
- What is the maximum number of `adults`?

## **Step 2 — Selecting Data (Indexing & Columns)**

### Exercise 2.1
Select and display **only** the following columns:
- `hotel`
- `lead_time`
- `adr`
- `is_canceled`

### Exercise 2.2
Select a **single column** (`adr`) and:
- Check its data type
- Display its first 10 values

### Exercise 2.3
Select rows:
- Rows 0 through 9
- Rows 100 through 110

## **Step 3 — Filtering Rows (Boolean Indexing)**

### Exercise 3.1
Filter bookings where:
- `hotel` is `"Resort Hotel"`

### Exercise 3.2
Filter bookings where:
- `is_canceled == 1`

How many canceled bookings are there?

### Exercise 3.3
Filter bookings where:
- `adr` is greater than 150

### Exercise 3.4
Filter bookings where:
- `hotel` is `"City Hotel"`
- AND `is_canceled == 0`

## **Step 4 — Creating & Modifying Columns**

### Exercise 4.1
Create a new column called:
- `total_guests`

It should be the sum of:
- `adults`
- `children`
- `babies`

### Exercise 4.2
Create a column called:
- `is_family`

Set it to:
- `True` if `children > 0` OR `babies > 0`
- `False` otherwise

### Exercise 4.3
Verify your changes:
- Display the first 5 rows including the new columns